build
coverage
dist
node_modules
src/__generated__
.sonar
.scannerwork
.revo
.superpowers
src/modules/dialogue-engine/transport/graphql/__generated__
src/modules/agent-configurations/transport/graphql/__generated__
